@font-face {
	font-family: 'Montserrat';
	src: url(../public/assets/fonts/Montserrat/Montserrat-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../public/assets/fonts/Montserrat/Montserrat-Bold.ttf);
	font-weight: bold;
}

html,
body {
  background-color: #272727;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle{
  width: 30px;
  height: 30px;
  background: #F3F30F;
  border-radius: 100%;
  display: inline-block;
  margin-left: 15px;
}